extends ../../layouts/default

block title
  title File

block content

  include ../../includes/navigator

  .container
    ol.breadcrumb
      - let href = '/file?path='
      each dir, index in pathArr
        - href = index == 0 ? href + dir : join(href, dir)
        li
          a(href=href) #{dir}
  
    .col-sm-4
      ul.list-group
        each file in fileArr
          li.list-group-item
            if file.icon == 'fa-file-video-o'
              a.video.cursor-pointer(data-name=file.name, data-path=path, data-toggle="tooltip" data-placement="bottom" title=file.name)
                - var attr = {}
                - attr.class = file.icon
                - var tPath = join(path, join('thumbnail', file.name + '.png'))
                - tPath = tPath.slice(6, tPath.length)
                if file.thumbnailExist
                  img.lazy(src='', data-original=tPath, style='margin-bottom: 5px;')
                i.fa&attributes(attr) &nbsp;&nbsp;&nbsp;
                | #{file.name.length > 16 ? file.name.slice(0,8) + '...'+ file.name.slice(file.name.length - 12,file.name.length) : file.name}
                label(style='float:right;font-size:11px') #{file.size}
            else if file.icon == 'fa-file-image-o'
              a.image.cursor-pointer(data-url=join(path, file.name), data-name=file.name)
                - var attr = {}
                - attr.class = file.icon
                i.fa&attributes(attr) &nbsp;&nbsp;&nbsp;
                | #{file.name}
                label(style='float:right;font-size:11px') #{file.size}
            else  
              a(href='/file?path=' + path + '/' + file.name)
                - var attr = {}
                - attr.class = file.icon
                i.fa&attributes(attr) &nbsp;&nbsp;&nbsp;
                | #{file.name}
                if (file.isFile)
                  label(style='float:right;font-size:11px') #{file.size} 
    .col-sm-8
      label.file-name
      #videoContainer
      #imageContainer
      br
      button.btn.btn-default.btn-toggle(style='display: none') 收缩

  footer(style='background: #ffffff')
    br
    .container
      p
      | &copy; 2018 | CETCME
      i.fa.fa-value(aria-hidden='true') &nbsp;
    br
  
  include ./js.pug
  