extends ../../layouts/default

block title
  title File

block content

  include ../../includes/navigator

  .container
    ol.breadcrumb
      - let href = '/file?path='
      each dir in pathArr
        - href = join(href, dir)
        li
          a(href=href) #{dir}

    ul.list-group
      each file in fileArr
        li.list-group-item
          if file.icon == 'fa-file-video-o'
            a.video.cursor-pointer(data-video=file.name, data-path=path)
              - var attr = {}
              - attr.class = file.icon
              i.fa&attributes(attr) &nbsp;&nbsp;&nbsp;
              | #{file.name}
              label(style='float:right') #{file.size}
          else  
            a(href='/file?path=' + path + '/' + file.name)
              - var attr = {}
              - attr.class = file.icon
              i.fa&attributes(attr) &nbsp;&nbsp;&nbsp;
              | #{file.name}
              if (file.isFile)
                label(style='float:right') #{file.size}

  footer
    .container
      p
      | &copy; 2018 | CETCME
      i.fa.fa-value(aria-hidden='true') &nbsp;

  #myModal.modal.fade.bd-example-modal-lg(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel", aria-hidden="true")
    .modal-dialog.modal-lg
      #videoModal.modal-content
  
  script(type="text/javascript").
    $(function() {
      $('ul.main-nav li.small-logo a').attr('href', '/');
    })

  script.
    var player = null
    $(document).ready(function() {

      $('#myModal').on('hidden.bs.modal', function(e) {
        if (player && player.pause) player.pause();
      })

      $('a.video').click(function(e) {
        var video = `/video?path=${$(this).data('path')}&name=${$(this).data('video')}`;// '/video?name=' + $(this).data('video');
        var image = $(this).attr('src');
        $('#myModal').modal('show');

        if (!player) {
          player = new DPlayer({
            container: document.getElementById('videoModal'), 
            screenshot: true,
            video: {
              url: video,
              pic: image,
              thumbnails: image
            },
            autoplay: true,
            lang: 'zh-cn'
          })
        } else {
          player.switchVideo({
            url: video,
            pic: image,
            type: 'auto'
          })
          player.play();
        }
      })
    })
